html,
body,
#app,
.el-container {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: ".PingFang SC Medium", Arial, Helvetica, sans-serif;
  color: #007da3;
  background-color: #32353d;
  user-select: none;
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    &::hover{
      color:red;
    }
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    background: #535353;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: #222;
  }
  section.content {
    margin: 0;
  }
  .sp-list {
    margin: 0;
    padding: 0;
    li.item{
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 36px;
      color: #888;
      padding: 0 10px;
      box-sizing: border-box;
      cursor: default;
      &.active {
        color: #eee;
        background-color: #00c2ff;
        span.btn {
          display: block;
        }
      }
      &:hover {
        color: #ccc;
        background-color: #006E90;
        span.btn {
          display: block;
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid #2F2F2F;
      }
      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
      span.desc {
        flex: calc(100% - 50px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
      }
      span.btn {
        display: none;
        cursor: pointer;
      }
    }
  }
}
